@font-face {
    font-family: 'andada_scregular';
    src: url('../andadasc-regular-webfont.woff2') format('woff2'),
         url('../andadasc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
