@font-face {
    font-family: 'authenticsans90';
    src: url('../AUTHENTICSans-90.woff2') format('woff2'),
         url('../AUTHENTICSans-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
