@font-face {
    font-family: 'bitterregular';
    src: url('../bitter-regular-webfont.woff2') format('woff2'),
         url('../bitter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
