@font-face {
    font-family: 'caladeaitalic';
    src: url('../caladea-italic-webfont.woff2') format('woff2'),
         url('../caladea-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
