@font-face {
    font-family: 'capriolaregular';
    src: url('../capriola-regular-webfont.woff2') format('woff2'),
         url('../capriola-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
