@font-face {
    font-family: 'catamaranmedium';
    src: url('../catamaran-medium-webfont.woff2') format('woff2'),
         url('../catamaran-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
