@font-face {
    font-family: 'euripides_semibold';
    src: url('../Euripides-SemiBold_web.woff2') format('woff2'),
         url('../Euripides-SemiBold_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
