@font-face {
    font-family: 'fjordone';
    src: url('../fjordone-regular-webfont.woff2') format('woff2'),
         url('../fjordone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
