@font-face {
    font-family: 'harmattanregular';
    src: url('../harmattan-regular-webfont.woff2') format('woff2'),
         url('../harmattan-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
