@font-face {
    font-family: 'karmamedium';
    src: url('../karma-medium-webfont.woff2') format('woff2'),
         url('../karma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
