@font-face {
    font-family: 'khulaextrabold';
    src: url('../khula-extrabold-webfont.woff2') format('woff2'),
         url('../khula-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
