@font-face {
    font-family: 'lexend-tera';
    src: url('../lexendtera-regular-webfont.woff2') format('woff2'),
         url('../lexendtera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
