@font-face {
    font-family: 'movement-indirect';
    src: url('../Movement-IndirectThin.woff2') format('woff2'),
         url('../Movement-IndirectThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'movement-indirect';
    src: url('../Movement-IndirectBlack.woff2') format('woff2'),
         url('../Movement-IndirectBlack.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
