@font-face {
    font-family: 'ortica-light';
    src: url('../ortica-light.woff2') format('woff2'),
         url('../ortica-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
