@font-face {
    font-family: 'palanquin_darkmedium';
    src: url('../palanquindark-medium-webfont.woff2') format('woff2'),
         url('../palanquindark-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
