@font-face {
    font-family: 'palanquinmedium';
    src: url('../palanquin-medium-webfont.woff2') format('woff2'),
         url('../palanquin-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
