@font-face {
    font-family: 'palanquinsemibold';
    src: url('../palanquin-semibold-webfont.woff2') format('woff2'),
         url('../palanquin-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
