@font-face {
    font-family: 'truenoblack_outline';
    src: url('../truenoblkol-webfont.woff2') format('woff2'),
         url('../truenoblkol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
