@font-face {
    font-family: 'truenoultralight_italic';
    src: url('../truenoultltit-webfont.woff2') format('woff2'),
         url('../truenoultltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
