@font-face {
    font-family: 'truenoXBdoutlineIt';
    src: url('../truenoexbdolit-webfont.woff2') format('woff2'),
         url('../truenoexbdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
