@font-face {
    font-family: 'tulpen_oneregular';
    src: url('../tulpenone-regular-webfont.woff2') format('woff2'),
         url('../tulpenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
