@font-face {
    font-family: 'yaldevi_colombosemibold';
    src: url('../yaldevicolombo-semibold-webfont.woff2') format('woff2'),
         url('../yaldevicolombo-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
