@font-face {
    font-family: 'yatra_oneregular';
    src: url('../yatraone-regular-webfont.woff2') format('woff2'),
         url('../yatraone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
