@font-face {
    font-family: 'abhaya_libresemibold';
    src: url('../abhayalibre-semibold-webfont.woff2') format('woff2'),
         url('../abhayalibre-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
