@font-face {
    font-family: 'amaranthitalic';
    src: url('../amaranth-italic-webfont.woff2') format('woff2'),
         url('../amaranth-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
