@font-face {
    font-family: 'andadaregular';
    src: url('../andada-regular-webfont.woff2') format('woff2'),
         url('../andada-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
