@font-face {
    font-family: 'authenticsanscondensed90';
    src: url('../AUTHENTICSans-Condensed-90.woff2') format('woff2'),
         url('../AUTHENTICSans-Condensed-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
