@font-face {
    font-family: 'authenticsans150';
    src: url('../AUTHENTICSans-150.woff2') format('woff2'),
         url('../AUTHENTICSans-150.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
