@font-face {
    font-family: 'cambayregular';
    src: url('../cambay-regular-webfont.woff2') format('woff2'),
         url('../cambay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
