@font-face {
    font-family: 'coconat-regular';
    src: url('../coconat-regular.woff2') format('woff2'),
         url('../coconat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
