@font-face {
    font-family: 'gudearegular';
    src: url('../gudea-regular-webfont.woff2') format('woff2'),
         url('../gudea-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
