@font-face {
    font-family: 'hindlight';
    src: url('../hind-light-webfont.woff2') format('woff2'),
         url('../hind-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
