@font-face {
    font-family: 'kaerukaeru';
    src: url('../kaerukaeru-Regular.woff2') format('woff2'),
         url('../kaerukaeru-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
