@font-face {
    font-family: 'karmasemibold';
    src: url('../karma-semibold-webfont.woff2') format('woff2'),
         url('../karma-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
