@font-face {
    font-family: 'khulasemibold';
    src: url('../khula-semibold-webfont.woff2') format('woff2'),
         url('../khula-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
