@font-face {
    font-family: 'kotta_oneregular';
    src: url('../kottaone-regular-webfont.woff2') format('woff2'),
         url('../kottaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
