@font-face {
    font-family: 'kreonregular';
    src: url('../kreon-regular-webfont.woff2') format('woff2'),
         url('../kreon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
