@font-face {
    font-family: 'league_gothiccondensed_italic';
    src: url('../leaguegothic-condenseditalic-webfont.woff2') format('woff2'),
         url('../leaguegothic-condenseditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
