@font-face {
    font-family: 'marvelbold_italic';
    src: url('../marvel-bolditalic-webfont.woff2') format('woff2'),
         url('../marvel-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
