@font-face {
    font-family: 'montagaregular';
    src: url('../montaga-regular-webfont.woff2') format('woff2'),
         url('../montaga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
