@font-face {
    font-family: 'oleo_scriptregular';
    src: url('../oleoscript-regular-webfont.woff2') format('woff2'),
         url('../oleoscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
