@font-face {
    font-family: 'truenobold_outline_italic';
    src: url('../truenobdolit-webfont.woff2') format('woff2'),
         url('../truenobdolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
