@font-face {
    font-family: 'truenoextrabold_outline';
    src: url('../truenoexbdol-webfont.woff2') format('woff2'),
         url('../truenoexbdol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
