@font-face {
    font-family: 'truenolight_italic';
    src: url('../truenoltit-webfont.woff2') format('woff2'),
         url('../truenoltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
