@font-face {
    font-family: 'yaldevi_jaffnaextralight';
    src: url('../yaldevijaffna-extralight-webfont.woff2') format('woff2'),
         url('../yaldevijaffna-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
