html[data-mabis-theme="gmk_nord"] {
  --primary: 193 43% 67%;
  --primary-foreground: 193 40% 12%;
  --secondary: 210 34% 63%;
  --secondary-foreground: 210 34% 12%;
  --accent: 213 32% 55%;
  --accent-foreground: 213 32% 12%;
  --background: 220 16% 22%;
  --foreground: 219 28% 88%;
  --card: 222 16% 33%;
  --card-foreground: 219 28% 88%;
  --popover: 222 16% 33%;
  --popover-foreground: 219 28% 88%;
  --muted: 222 16% 37%;
  --muted-foreground: 219 28% 66%;
  --border: 222 16% 42%;
  --input: 222 16% 42%;
  --ring: 193 43% 67%;
  --role-student: 193 43% 54%;
  --role-teacher: 220 16% 34%;
  --role-chair: 219 28% 54%;
  --role-minutes: 193 43% 54%;
  --role-admin: 220 16% 34%;
  --role-editor: 219 28% 54%;
  --ink: 220 16% 22%;
  --bone: 219 28% 88%;
  --destructive: 193 43% 67%;
  --destructive-foreground: 193 40% 12%;
  --flag-1: #88C0D0;
  --flag-2: #2E3440;
  --flag-3: #D8DEE9;
  --flag-4: #88C0D0;
  --flag-5: #2E3440;
  --flag-6: #D8DEE9;
  --flag-7: #88C0D0;
  --flag-8: #2E3440;
  --palette-count: 6;
  --palette-accent-count: 3;
  --palette-stripes: linear-gradient(90deg, #2E3440 0% 16.666666666666664%, #3B4252 16.666666666666664% 33.33333333333333%, #5E81AC 33.33333333333333% 50%, #81A1C1 50% 66.66666666666666%, #88C0D0 66.66666666666666% 83.33333333333334%, #D8DEE9 83.33333333333334% 100%);
  --palette-gradient: linear-gradient(90deg, #2E3440, #3B4252, #5E81AC, #81A1C1, #88C0D0, #D8DEE9);
  --character-primary: #88C0D0;
  --character-secondary: #81A1C1;
  --character-highlight: #5E81AC;
  --glass-edge: #5E81AC59;
  --rim-light: #88C0D0;
  --glass-tint-2: #81A1C133;
}
