@font-face {
    font-family: 'amaranthbold_italic';
    src: url('../amaranth-bolditalic-webfont.woff2') format('woff2'),
         url('../amaranth-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
