@font-face {
    font-family: 'authenticsans130';
    src: url('../AUTHENTICSans-130.woff2') format('woff2'),
         url('../AUTHENTICSans-130.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
