@font-face {
    font-family: 'authenticsanscondensed60';
    src: url('../AUTHENTICSans-Condensed-60.woff2') format('woff2'),
         url('../AUTHENTICSans-Condensed-60.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
