@font-face {
    font-family: 'bitteritalic';
    src: url('../bitter-italic-webfont.woff2') format('woff2'),
         url('../bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
