@font-face {
    font-family: 'caladeabold_italic';
    src: url('../caladea-bolditalic-webfont.woff2') format('woff2'),
         url('../caladea-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
