@font-face {
    font-family: 'catamaranextralight';
    src: url('../catamaran-extralight-webfont.woff2') format('woff2'),
         url('../catamaran-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
