@font-face {
    font-family: 'junctionlight';
    src: url('../junction-light-webfont.woff2') format('woff2'),
         url('../junction-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
