@font-face {
    font-family: 'lexend-zetta';
    src: url('../lexendzetta-regular-webfont.woff2') format('woff2'),
         url('../lexendzetta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
