@font-face {
    font-family: 'marvelbold';
    src: url('../marvel-bold-webfont.woff2') format('woff2'),
         url('../marvel-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
