@font-face {
    font-family: 'montrappist';
    src: url('../MonTrappist-Black.woff2') format('woff2'),
         url('../MonTrappist-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
