@font-face {
    font-family: 'montserratthin_italic';
    src: url('../montserrat-thinitalic-webfont.woff2') format('woff2'),
         url('../montserrat-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
