@font-face {
    font-family: 'montserrat_alternatesXBdIt';
    src: url('../montserratalternates-extrabolditalic-webfont.woff2') format('woff2'),
         url('../montserratalternates-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
