@font-face {
    font-family: 'movement-direct';
    src: url('../Movement-DirectThin.woff2') format('woff2'),
         url('../Movement-DirectThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'movement-direct';
    src: url('../Movement-DirectBlack.woff2') format('woff2'),
         url('../Movement-DirectBlack.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
