@font-face {
    font-family: 'ortica-bold';
    src: url('../ortica-bold.woff2') format('woff2'),
         url('../ortica-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
