@font-face {
    font-family: 'palanquin_darksemibold';
    src: url('../palanquindark-semibold-webfont.woff2') format('woff2'),
         url('../palanquindark-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
