@font-face {
    font-family: 'poller_oneregular';
    src: url('../pollerone-webfont.woff2') format('woff2'),
         url('../pollerone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
