@font-face {
    font-family: 'truenosemibold_italic';
    src: url('../truenosbdit-webfont.woff2') format('woff2'),
         url('../truenosbdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
