@font-face {
    font-family: 'truenoblack_outline_italic';
    src: url('../truenoblkolit-webfont.woff2') format('woff2'),
         url('../truenoblkolit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
