@font-face {
    font-family: 'yaldevi_jaffnamedium';
    src: url('../yaldevijaffna-medium-webfont.woff2') format('woff2'),
         url('../yaldevijaffna-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
