html[data-mabis-theme="agender"] {
  --background: 95 33% 4%;
  --foreground: 95 20% 92%;
  --card: 94 25% 7%;
  --card-foreground: 95 20% 92%;
  --popover: 94 25% 7%;
  --popover-foreground: 95 20% 92%;
  --muted: 94 19% 12%;
  --muted-foreground: 95 6% 61%;
  --border: 94 16% 18%;
  --input: 94 16% 18%;
  --primary: 90 47% 53%;
  --primary-foreground: 94 27% 5%;
  --secondary: 44 0% 74%;
  --secondary-foreground: 94 27% 5%;
  --accent: 91 49% 55%;
  --accent-foreground: 94 27% 5%;
  --ring: 90 47% 53%;
  --role-student: 84 100% 25%;
  --role-teacher: 120 0% 43%;
  --role-chair: 44 0% 43%;
  --role-minutes: 84 100% 25%;
  --role-admin: 120 0% 43%;
  --role-editor: 44 0% 43%;
  --pride-glow: #a4df6f;
  --pride-edge: #85bf4e;
  --pride-highlight: #d7d7d7;
  --ink: 95 33% 4%;
  --bone: 95 20% 92%;
  --destructive: 90 47% 53%;
  --destructive-foreground: 94 27% 5%;
  --flag-1: #B8F483;
  --flag-2: #2e2e2e;
  --flag-3: #4a4a4a;
  --flag-4: #B8F483;
  --flag-5: #2e2e2e;
  --flag-6: #4a4a4a;
  --flag-7: #B8F483;
  --flag-8: #2e2e2e;
  --palette-count: 7;
  --palette-accent-count: 3;
  --palette-stripes: linear-gradient(90deg, #000000 0% 14.285714285714285%, #BABABA 14.285714285714285% 28.57142857142857%, #FFFFFF 28.57142857142857% 42.857142857142854%, #B8F483 42.857142857142854% 57.14285714285714%, #FFFFFF 57.14285714285714% 71.42857142857143%, #BABABA 71.42857142857143% 85.71428571428571%, #000000 85.71428571428571% 100%);
  --palette-gradient: linear-gradient(90deg, #000000, #BABABA, #FFFFFF, #B8F483, #FFFFFF, #BABABA, #000000);
  --character-primary: #8cc555;
  --character-secondary: #cacaca;
  --character-highlight: #b1ed7c;
  --glass-edge: #b1ed7c59;
  --rim-light: #8cc555;
  --glass-tint-2: #cacaca33;
}
