html[data-mabis-theme="gmk_olivia_dark"] {
  --primary: 13 70% 82%;
  --primary-foreground: 13 40% 12%;
  --secondary: 37 21% 85%;
  --secondary-foreground: 37 21% 12%;
  --accent: 37 21% 85%;
  --accent-foreground: 37 21% 12%;
  --background: 0 0% 17%;
  --foreground: 37 21% 85%;
  --card: 0 0% 22%;
  --card-foreground: 37 21% 85%;
  --popover: 0 0% 22%;
  --popover-foreground: 37 21% 85%;
  --muted: 0 0% 26%;
  --muted-foreground: 37 21% 63%;
  --border: 0 0% 31%;
  --input: 0 0% 31%;
  --ring: 13 70% 82%;
  --role-student: 13 70% 54%;
  --role-teacher: 0 0% 22%;
  --role-chair: 37 21% 54%;
  --role-minutes: 13 70% 54%;
  --role-admin: 0 0% 22%;
  --role-editor: 37 21% 54%;
  --ink: 0 0% 17%;
  --bone: 37 21% 85%;
  --destructive: 13 70% 82%;
  --destructive-foreground: 13 40% 12%;
  --flag-1: #F1BEB0;
  --flag-2: #2e2e2e;
  --flag-3: #E1DBD1;
  --flag-4: #F1BEB0;
  --flag-5: #2e2e2e;
  --flag-6: #E1DBD1;
  --flag-7: #F1BEB0;
  --flag-8: #2e2e2e;
  --palette-count: 3;
  --palette-accent-count: 3;
  --palette-stripes: linear-gradient(90deg, #F1BEB0 0% 33.33333333333333%, #2B2B2B 33.33333333333333% 66.66666666666666%, #E1DBD1 66.66666666666666% 100%);
  --palette-gradient: linear-gradient(90deg, #F1BEB0, #2B2B2B, #E1DBD1);
  --character-primary: #F1BEB0;
  --character-secondary: #E1DBD1;
  --character-highlight: #E1DBD1;
  --glass-edge: #E1DBD159;
  --rim-light: #F1BEB0;
  --glass-tint-2: #E1DBD133;
}
