html[data-mabis-theme="gmk_olivia"] {
  --primary: 13 70% 82%;
  --primary-foreground: 13 40% 12%;
  --secondary: 0 0% 17%;
  --secondary-foreground: 0 0% 100%;
  --accent: 0 0% 17%;
  --accent-foreground: 0 0% 100%;
  --background: 37 21% 85%;
  --foreground: 0 0% 17%;
  --card: 37 21% 90%;
  --card-foreground: 0 0% 17%;
  --popover: 37 21% 90%;
  --popover-foreground: 0 0% 17%;
  --muted: 37 21% 80%;
  --muted-foreground: 0 0% 41%;
  --border: 37 21% 73%;
  --input: 37 21% 73%;
  --ring: 13 70% 82%;
  --role-student: 13 70% 54%;
  --role-teacher: 37 21% 54%;
  --role-chair: 0 0% 22%;
  --role-minutes: 13 70% 54%;
  --role-admin: 37 21% 54%;
  --role-editor: 0 0% 22%;
  --ink: 0 0% 17%;
  --bone: 37 21% 85%;
  --destructive: 13 70% 82%;
  --destructive-foreground: 13 40% 12%;
  --flag-1: #F1BEB0;
  --flag-2: #E1DBD1;
  --flag-3: #2e2e2e;
  --flag-4: #F1BEB0;
  --flag-5: #E1DBD1;
  --flag-6: #2e2e2e;
  --flag-7: #F1BEB0;
  --flag-8: #E1DBD1;
  --palette-count: 3;
  --palette-accent-count: 3;
  --palette-stripes: linear-gradient(90deg, #F1BEB0 0% 33.33333333333333%, #E1DBD1 33.33333333333333% 66.66666666666666%, #2B2B2B 66.66666666666666% 100%);
  --palette-gradient: linear-gradient(90deg, #F1BEB0, #E1DBD1, #2B2B2B);
  --character-primary: #F1BEB0;
  --character-secondary: #2B2B2B;
  --character-highlight: #2B2B2B;
  --glass-edge: #2B2B2B59;
  --rim-light: #F1BEB0;
  --glass-tint-2: #2B2B2B33;
}
