html[data-mabis-theme="gmk_red_alert"] {
  --primary: 3 72% 43%;
  --primary-foreground: 0 0% 100%;
  --secondary: 46 13% 63%;
  --secondary-foreground: 46 13% 12%;
  --accent: 46 13% 63%;
  --accent-foreground: 46 13% 12%;
  --background: 37 21% 85%;
  --foreground: 240 2% 9%;
  --card: 37 21% 90%;
  --card-foreground: 240 2% 9%;
  --popover: 37 21% 90%;
  --popover-foreground: 240 2% 9%;
  --muted: 37 21% 80%;
  --muted-foreground: 240 2% 33%;
  --border: 37 21% 73%;
  --input: 37 21% 73%;
  --ring: 3 72% 43%;
  --role-student: 3 72% 43%;
  --role-teacher: 37 21% 54%;
  --role-chair: 46 13% 54%;
  --role-minutes: 3 72% 43%;
  --role-admin: 37 21% 54%;
  --role-editor: 46 13% 54%;
  --ink: 240 2% 9%;
  --bone: 37 21% 85%;
  --destructive: 3 72% 43%;
  --destructive-foreground: 0 0% 100%;
  --flag-1: #BC251E;
  --flag-2: #E1DBD1;
  --flag-3: #ACA693;
  --flag-4: #BC251E;
  --flag-5: #E1DBD1;
  --flag-6: #ACA693;
  --flag-7: #BC251E;
  --flag-8: #E1DBD1;
  --palette-count: 3;
  --palette-accent-count: 3;
  --palette-stripes: linear-gradient(90deg, #BC251E 0% 33.33333333333333%, #E1DBD1 33.33333333333333% 66.66666666666666%, #ACA693 66.66666666666666% 100%);
  --palette-gradient: linear-gradient(90deg, #BC251E, #E1DBD1, #ACA693);
  --character-primary: #BC251E;
  --character-secondary: #ACA693;
  --character-highlight: #ACA693;
  --glass-edge: #ACA69359;
  --rim-light: #BC251E;
  --glass-tint-2: #ACA69333;
}
