html[data-mabis-theme="lesbian"] {
  --background: 337 31% 5%;
  --foreground: 339 31% 94%;
  --card: 337 24% 9%;
  --card-foreground: 339 31% 94%;
  --popover: 337 24% 9%;
  --popover-foreground: 339 31% 94%;
  --muted: 337 19% 15%;
  --muted-foreground: 338 8% 63%;
  --border: 337 17% 21%;
  --input: 337 17% 21%;
  --primary: 333 100% 72%;
  --primary-foreground: 337 25% 6%;
  --secondary: 21 100% 73%;
  --secondary-foreground: 337 25% 6%;
  --accent: 325 88% 74%;
  --accent-foreground: 337 25% 6%;
  --ring: 333 100% 72%;
  --role-student: 10 70% 44%;
  --role-teacher: 330 53% 46%;
  --role-chair: 10 70% 44%;
  --role-minutes: 330 53% 46%;
  --role-admin: 10 70% 44%;
  --role-editor: 330 53% 46%;
  --pride-glow: #ffadda;
  --pride-edge: #ff73b3;
  --pride-highlight: #ffcaaf;
  --ink: 337 31% 5%;
  --bone: 339 31% 94%;
  --destructive: 333 100% 72%;
  --destructive-foreground: 337 25% 6%;
  --flag-1: #D52D00;
  --flag-2: #A30262;
  --flag-3: #D52D00;
  --flag-4: #A30262;
  --flag-5: #D52D00;
  --flag-6: #A30262;
  --flag-7: #D52D00;
  --flag-8: #A30262;
  --palette-count: 7;
  --palette-accent-count: 2;
  --palette-stripes: linear-gradient(90deg, #D52D00 0% 14.285714285714285%, #EF7627 14.285714285714285% 28.57142857142857%, #FF9A56 28.57142857142857% 42.857142857142854%, #FFFFFF 42.857142857142854% 57.14285714285714%, #D162A4 57.14285714285714% 71.42857142857143%, #B55690 71.42857142857143% 85.71428571428571%, #A30262 85.71428571428571% 100%);
  --palette-gradient: linear-gradient(90deg, #D52D00, #EF7627, #FF9A56, #FFFFFF, #D162A4, #B55690, #A30262);
  --character-primary: #ff80b8;
  --character-secondary: #ffb893;
  --character-highlight: #ffc3e3;
  --glass-edge: #ffc3e359;
  --rim-light: #ff80b8;
  --glass-tint-2: #ffb89333;
}
