html[data-mabis-theme="pride"] {
  --background: 9 63% 98%;
  --foreground: 8 30% 13%;
  --card: 9 100% 100%;
  --card-foreground: 8 30% 13%;
  --popover: 9 100% 100%;
  --popover-foreground: 8 30% 13%;
  --muted: 9 48% 95%;
  --muted-foreground: 9 8% 47%;
  --border: 9 25% 87%;
  --input: 9 25% 87%;
  --primary: 5 64% 44%;
  --primary-foreground: 9 79% 99%;
  --secondary: 126 43% 59%;
  --secondary-foreground: 8 32% 6%;
  --accent: 221 66% 54%;
  --accent-foreground: 9 79% 99%;
  --ring: 5 64% 44%;
  --role-student: 5 61% 46%;
  --role-teacher: 32 100% 32%;
  --role-chair: 138 100% 26%;
  --role-minutes: 221 62% 52%;
  --role-admin: 290 42% 47%;
  --role-editor: 5 61% 46%;
  --pride-glow: #4c85fe;
  --pride-edge: #c52d22;
  --pride-highlight: #50b05b;
  --ink: 8 30% 13%;
  --bone: 9 63% 98%;
  --destructive: 5 64% 44%;
  --destructive-foreground: 9 79% 99%;
  --flag-1: #E40303;
  --flag-2: #FF8C00;
  --flag-3: #008026;
  --flag-4: #004DFF;
  --flag-5: #750787;
  --flag-6: #E40303;
  --flag-7: #FF8C00;
  --flag-8: #008026;
  --palette-count: 6;
  --palette-accent-count: 5;
  --palette-stripes: linear-gradient(90deg, #E40303 0% 16.666666666666664%, #FF8C00 16.666666666666664% 33.33333333333333%, #FFED00 33.33333333333333% 50%, #008026 50% 66.66666666666666%, #004DFF 66.66666666666666% 83.33333333333334%, #750787 83.33333333333334% 100%);
  --palette-gradient: linear-gradient(90deg, #E40303, #FF8C00, #FFED00, #008026, #004DFF, #750787);
  --character-primary: #b71b13;
  --character-secondary: #2d913d;
  --character-highlight: #467ef7;
  --glass-edge: #467ef759;
  --rim-light: #b71b13;
  --glass-tint-2: #2d913d33;
}
