@font-face {
    font-family: 'caladearegular';
    src: url('../caladea-regular-webfont.woff2') format('woff2'),
         url('../caladea-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
