@font-face {
    font-family: 'cambaybold_italic';
    src: url('../cambay-bolditalic-webfont.woff2') format('woff2'),
         url('../cambay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
