@font-face {
    font-family: 'delius_unicaseregular';
    src: url('../deliusunicase-regular-webfont.woff2') format('woff2'),
         url('../deliusunicase-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
