@font-face {
    font-family: 'hindmedium';
    src: url('../hind-medium-webfont.woff2') format('woff2'),
         url('../hind-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
