@font-face {
    font-family: 'karmalight';
    src: url('../karma-light-webfont.woff2') format('woff2'),
         url('../karma-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
