@font-face {
    font-family: 'keania_oneregular';
    src: url('../keaniaone-regular-webfont.woff2') format('woff2'),
         url('../keaniaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
