@font-face {
    font-family: 'lusitanaregular';
    src: url('../lusitana-regular-webfont.woff2') format('woff2'),
         url('../lusitana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
