@font-face {
    font-family: 'oleo_scriptbold';
    src: url('../oleoscript-bold-webfont.woff2') format('woff2'),
         url('../oleoscript-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
