@font-face {
    font-family: 'palanquinthin';
    src: url('../palanquin-thin-webfont.woff2') format('woff2'),
         url('../palanquin-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
