@font-face {
    font-family: 'pt_sansbold_italic';
    src: url('../pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('../pt_sans-web-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
