@font-face {
    font-family: 'rudabold';
    src: url('../ruda-bold-webfont.woff2') format('woff2'),
         url('../ruda-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
