@font-face {
    font-family: 'truenoregular_italic';
    src: url('../truenorgit-webfont.woff2') format('woff2'),
         url('../truenorgit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
