@font-face {
  font-family: 'GNUFreeSerifUI';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/gnu-freefont/FreeSerif.woff2?v=2') format('woff2');
}
@font-face {
  font-family: 'GNUFreeSerifUI';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/gnu-freefont/FreeSerifBold.woff2?v=2') format('woff2');
}
@font-face {
  font-family: 'GNUFreeSerifUI';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/gnu-freefont/FreeSerifItalic.woff2?v=2') format('woff2');
}
@font-face {
  font-family: 'GNUFreeSerifUI';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/gnu-freefont/FreeSerifBoldItalic.woff2?v=2') format('woff2');
}
